{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ title }}</h1>
    </div>
    <div class="row">
        form will go here
    </div>
{% endblock %}
